<footer id="footer" class="color color-quaternary">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="newsletter">
					<h4>Newsletter</h4>
					<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

					<div class="alert alert-success hidden" id="newsletterSuccess">
						<strong>Success!</strong> You've been added to our email list.
					</div>

					<div class="alert alert-danger hidden" id="newsletterError"></div>

					<!-- Begin MailChimp Signup Form -->
   				  <div id="mc_embed_signup">
					<form action="//Actor.us14.list-manage.com/subscribe/post?u=bd9111d0535c3aa2d2724f234&amp;id=ac3060226b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div class="input-group">
							<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bd9111d0535c3aa2d2724f234_ac3060226b" tabindex="-1" value=""></div>
							<span class="input-group-btn">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
							</span>
						</div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				</div>
			</div>
			<div class="col-md-5">
				<div class="contact-details">
					<h4>Contact Us</h4>
					<ul class="contact">
						<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> Asynkron HB, Råsundavägen 15, 169 67 Solna, Sweden</p></li>
						<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (+46) 76 180 55 89</p></li>
						<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:hi@proto.actor">hi@proto.actor</a></p></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li class="social-icons-twitter"><a href="http://www.twitter.com/protoactor" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li class="social-icons-github"><a href="http://www.github.com/AsynkronIT/protoactor" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<a href="https://www.netlify.com">
					<img src="https://www.netlify.com/img/global/badges/netlify-light.svg">
					</a>
				</div>
				<div class="col-md-7">
					<p>© Copyright 2016 Asynkron HB. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>