---
layout: master.hbs
title: Team
active_selector: team
---

<header id="header" class="header-narrow" data-plugin-options="{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}" style="min-height: 85.6px;">
	<div class="header-body" style="top: 0px;">
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column">
					<div class="header-logo" style="width: 126px; height: 84px;">
						<a href="/index.html">
							<img alt="Porto" src="/images/protowhite.png" style="top: 0px;width:205px">
						</a>
					</div>
				</div>
				<div class="header-column">
					<div class="header-row">
						<div class="header-nav">
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
								<i class="fa fa-bars"></i>
							</button>
							<ul class="header-social-icons social-icons hidden-xs">
								<li class="social-icons-twitter"><a href="http://www.twitter.com/protoactor" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li class="social-icons-github"><a href="http://www.github.com/AsynkronIT/protoactor" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
							</ul>
							<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
								<nav>
									<ul class="nav nav-pills" id="mainNav">
										<li class="{{#ifEq active_selector 'home' }} active{{/ifEq}}">
											<a href="/index.html">
												Home
											</a>
										</li>
										<li class="{{#ifEq active_selector 'team' }} active{{/ifEq}}">
											<a href="/team.html">
												Team
											</a>
										</li>
										<li class="{{#ifEq active_selector 'blog' }} active{{/ifEq}}">
											<a href="/blog/index.html">
												Blog
											</a>
										</li>
										<li class="dropdown {{#ifEq page.layout 'docs.hbs' }} active{{/ifEq}}">
											<a href="#">
												Documentation <i class="fa fa-caret-down"></i>
											</a>
											<ul class="dropdown-menu">
												<li >
													<a href="/docs/index">Overview</a>
												</li>
												<li >
													<a href="/docs/dotnet/index">.NET</a>
												</li>
												<li >
													<a href="/docs/golang/index">Go</a>
												</li>
												<li>
													<a href="https://godoc.org/github.com/AsynkronIT/protoactor-go">Go API docs</a>
												</li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#">
												Code <i class="fa fa-caret-down"></i>
											</a>
											<ul class="dropdown-menu">
												<li >
													<a href="https://github.com/AsynkronIT/protoactor-dotnet">.NET</a>
												</li>
												<li >
													<a href="https://github.com/AsynkronIT/protoactor-go">Go</a>
												</li>

											</ul>
										</li>
										<li>
											<a href="https://gitter.im/AsynkronIT/gam">
												Project Chat
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>