---
layout: master.hbs
active_selector: blog
---
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="/index.html">Home</a></li>
						<li><a href="/blog/index.html">Docs</a></li>
						<li class="active">{{basename}}</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Blog</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">

			<div class="col-md-3">
				<aside class="sidebar">
					<h4 class="heading-primary">Topics</h4>
					<div id="toc">
					</div>
				</aside>
			</div>

			<div class="col-md-9" >
				<div class="blog-posts single-post">

					<article class="post post-large blog-single-post">

						<div class="post-date">
							<span class="day">10</span>
							<span class="month">Jan</span>
						</div>

						<div class="post-content" id="main_content">

							{{#gfm }}
							{{> body }}
							{{/gfm }}

							<div class="post-block post-share">
								<h3 class="heading-primary"><i class="fa fa-share"></i>Share this post</h3>

								<!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox addthis_default_style ">
									<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
									<a class="addthis_button_tweet"></a>
									<a class="addthis_button_pinterest_pinit"></a>
									<a class="addthis_counter addthis_pill_style"></a>
								</div>
								<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
								<!-- AddThis Button END -->

							</div>

							<div class="post-block post-author clearfix">
								<h3 class="heading-primary"><i class="fa fa-user"></i>Author</h3>
								<div class="img-thumbnail">
									<a href="blog-post.html">
										<img src="img/avatars/avatar.jpg" alt="">
									</a>
								</div>
								<p><strong class="name"><a href="#">John Doe</a></strong></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui. </p>
							</div>
						</div>
					</article>

				</div>
			</div>


		</div>

	</div>

</div>