---
layout: master.hbs
active_selector: blog
---
<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="/index.html">Home</a></li>
						<li><a href="/docs/index.html">Docs</a></li>
						<li class="active">{{basename}}</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Documentation</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
				<div class="col-md-3">
				<aside class="sidebar">
				
					<form>
						<div class="input-group input-group-lg">
							<input class="form-control" placeholder="Search..." name="s" id="s" type="text">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				
					<hr>
				
					<h4 class="heading-primary">Categories</h4>
					<ul class="nav nav-list mb-xlg">
						<li><a href="#">Design (2)</a></li>
						<li class="active">
							<a href="#">Photos (4)</a>
							<ul>
								<li><a href="#">Animals</a></li>
								<li class="active"><a href="#">Business</a></li>
								<li><a href="#">Sports</a></li>
								<li><a href="#">People</a></li>
							</ul>
						</li>
						<li><a href="#">Videos (3)</a></li>
						<li><a href="#">Lifestyle (2)</a></li>
						<li><a href="#">Technology (1)</a></li>
					</ul>
				
					<div class="tabs mb-xlg">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a></li>
							<li><a href="#recentPosts" data-toggle="tab">Recent</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="popularPosts">
								<ul class="simple-post-list">
									<li>
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/blog/blog-thumb-1.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
													Jan 10, 2016
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/blog/blog-thumb-2.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post.html">Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
													Jan 10, 2016
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/blog/blog-thumb-3.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post.html">Odiosters Nullam Vitae</a>
											<div class="post-meta">
													Jan 10, 2016
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="tab-pane" id="recentPosts">
								<ul class="simple-post-list">
									<li>
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/blog/blog-thumb-2.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post.html">Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
													Jan 10, 2016
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/blog/blog-thumb-3.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post.html">Odiosters Nullam Vitae</a>
											<div class="post-meta">
													Jan 10, 2016
											</div>
										</div>
									</li>
									<li>
										<div class="post-image">
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="img/blog/blog-thumb-1.jpg" alt="">
												</a>
											</div>
										</div>
										<div class="post-info">
											<a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
											<div class="post-meta">
													Jan 10, 2016
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				
					<hr>
				
					<h4 class="heading-primary">About Us</h4>
					<p>Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. </p>
				
				</aside>
			</div>

			<div class="col-md-9">
				<div class="blog-posts single-post">

					<article class="post post-large blog-single-post">
						<div class="post-image">
							<div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{&quot;items&quot;:1}">
								
								
							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1696px, 0px, 0px); transition: 0.25s; width: 5091px;"><div class="owl-item cloned" style="width: 848.338px;"><div>
									<div class="img-thumbnail">
										<img class="img-responsive" src="img/blog/blog-image-1.jpg" alt="">
									</div>
								</div></div><div class="owl-item cloned" style="width: 848.338px;"><div>
									<div class="img-thumbnail">
										<img class="img-responsive" src="img/blog/blog-image-2.jpg" alt="">
									</div>
								</div></div><div class="owl-item active" style="width: 848.338px;"><div>
									<div class="img-thumbnail">
										<img class="img-responsive" src="img/blog/blog-image-1.jpg" alt="">
									</div>
								</div></div><div class="owl-item" style="width: 848.338px;"><div>
									<div class="img-thumbnail">
										<img class="img-responsive" src="img/blog/blog-image-2.jpg" alt="">
									</div>
								</div></div><div class="owl-item cloned" style="width: 848.338px;"><div>
									<div class="img-thumbnail">
										<img class="img-responsive" src="img/blog/blog-image-1.jpg" alt="">
									</div>
								</div></div><div class="owl-item cloned" style="width: 848.338px;"><div>
									<div class="img-thumbnail">
										<img class="img-responsive" src="img/blog/blog-image-2.jpg" alt="">
									</div>
								</div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
						</div>

						<div class="post-date">
							<span class="day">10</span>
							<span class="month">Jan</span>
						</div>

						<div class="post-content">

							{{#gfm }}
							{{> body }}
							{{/gfm }}

							<div class="post-block post-share">
								<h3 class="heading-primary"><i class="fa fa-share"></i>Share this post</h3>

								<!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox addthis_default_style ">
									<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
									<a class="addthis_button_tweet"></a>
									<a class="addthis_button_pinterest_pinit"></a>
									<a class="addthis_counter addthis_pill_style"></a>
								</div>
								<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
								<!-- AddThis Button END -->

							</div>

							<div class="post-block post-author clearfix">
								<h3 class="heading-primary"><i class="fa fa-user"></i>Author</h3>
								<div class="img-thumbnail">
									<a href="blog-post.html">
										<img src="img/avatars/avatar.jpg" alt="">
									</a>
								</div>
								<p><strong class="name"><a href="#">John Doe</a></strong></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui. </p>
							</div>
						</div>
					</article>

				</div>
			</div>


		</div>

	</div>

</div>