---
layout: master.hbs
active_selector: docs
---

<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="/index.html">Home</a></li>
						<li><a href="/docs/index.html">Docs</a></li>
						<li class="active">{{basename}}</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>GAM Docs</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<div class="row">
			<div class="col-md-3">
				<aside class="sidebar">

					<h4 class="heading-primary">Topics</h4>
					<div id="toc">
					</div>
				</aside>
			</div>
			<div class="col-md-9" id="main_content">
				{{#gfm }}
				{{> body }}
				{{/gfm }}
			</div>

		</div>

	</div>

</div>