<!DOCTYPE html>
<html> 
	<head>
		{{> head}}
	</head>

	<!--
		Available body classes:
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body:
			data-background="/theme_assets/images/boxed_background/1.jpg"
	-->
	<body>
		<div id="body">

			{{> header}}
			<div role="main" class="main">
			{{> body }}
			</div>
			{{> footer }}

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		{{> scripts}}

	</body>
</html>
